<div class="App">
  <div class="App__header">
    <mat-toolbar color="primary" class="mat-elevation-z4">
      <mat-toolbar-row>
        <span>Speedrun // Angular</span> <span class="spacer"></span>
        <div *ngIf="opened; else elseBlock">
          <span> <mat-icon (click)="sidenav.toggle()">clear</mat-icon> </span>
        </div>
        <ng-template #elseBlock
          ><span>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
          </span></ng-template
        >
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <mat-sidenav-container class="App__sidenav">
    <mat-sidenav
      #sidenav
      mode="push"
      position="end"
      [(opened)]="opened"
      role="navigation"
      (click)="sidenav.toggle()"
    >
      <mat-nav-list>
        <h2 mat-subheader>Projects</h2>
        <mat-divider></mat-divider>
        <mat-list-item *ngFor="let route of routes">
          <a [routerLink]="[route.link]">{{ route.name }}</a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="App__content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
