.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  &__header {
    position: relative;
    z-index: 2;
    .material-icons {
      line-height: 1.5;
      padding-right: 10px;
    }
    .spacer {
      flex: 1 1 auto;
    }
  }
  &__sidenav {
    flex: 1;
    .mat-sidenav {
      width: 150px;
      .mat-list-base .mat-subheader {
        background: #3f51b5;
        color: #ffffff;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
  }
}
